/* register.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('../images/telemedicine_-_resized.webp') no-repeat center center fixed;
    background-size: cover;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(33, 32, 32, 0.5); /* Dark overlay for better contrast */
}

.register-form {
    background: rgb(222, 224, 226);
    padding: 50px; /* Added more padding for comfort */
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 350px; /* Fixed width for the form */
    text-align: center;
}

.register-form h2 {
    margin-bottom: 20px;
    color: #333; /* Dark text for better visibility */
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

button {
    background-color: #256c4a; /* Primary color */
    color: white;
    border: none;
    padding: 13px;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

/* Optional: Style for messages */
.message {
    margin-top: 15px;
    font-size: 14px; /* Slightly smaller font size */
}
